In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("C:\\Flipkart_project\\Dataset-SA.csv")

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.info

<bound method DataFrame.info of                                              product_name product_price Rate  \
0       Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    5
1       Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    5
2       Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    3
3       Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    1
4       Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    3
...                                                   ...           ...  ...
205047  cello Pack of 18 Opalware Cello Dazzle Lush Fi...          1299    5
205048  cello Pack of 18 Opalware Cello Dazzle Lush Fi...          1299    5
205049  cello Pack of 18 Opalware Cello Dazzle Lush Fi...          1299    3
205050  cello Pack of 18 Opalware Cello Dazzle Lush Fi...          1299    5
205051  cello Pack of 18 Opalware Cello Dazzle Lush Fi...          1299    4

                 Review                                            Summary  \
0                super!  great cooler excellent air flow and for this p...
1               awesome              best budget 2 fit cooler nice cooling
2                  fair  the quality is good but the power of air is de...
3       useless product                  very bad product its a only a fan
4                  fair                                      ok ok product
...                 ...                                                ...
205047        must buy!                                       good product
205048           super!                                               nice
205049             nice                        very nice and fast delivery
205050        just wow!                                    awesome product
205051  value-for-money  very good but mixing bowl not included is one ...

       Sentiment
0       positive
1       positive
2       positive
3       negative
4        neutral
...          ...
205047  positive
205048  positive
205049  positive
205050  positive
205051   neutral

[205052 rows x 6 columns]>

In [7]:
 data.shape

(205052, 6)

In [9]:
data.describe()

,product_name,product_price,Rate,Review,Summary,Sentiment
count,205052,205052,205052,180388,205041,205052
unique,958,525,8,1324,92923,3
top,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,wonderful,good,positive
freq,6005,9150,118765,9016,17430,166581

In [10]:
data = data.drop_duplicates()

In [11]:
data

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
...,...,...,...,...,...,...
205045,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,terrific,good quality products,positive
205046,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,classy product,beautiful set very nice,positive
205049,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,3,nice,very nice and fast delivery,positive
205050,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,just wow!,awesome product,positive
205051,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,4,value-for-money,very good but mixing bowl not included is one ...,neutral

In [12]:
data.isnull()

        product_name  product_price   Rate  Review  Summary  Sentiment
0              False          False  False   False    False      False
1              False          False  False   False    False      False
2              False          False  False   False    False      False
3              False          False  False   False    False      False
4              False          False  False   False    False      False
...              ...            ...    ...     ...      ...        ...
205045         False          False  False   False    False      False
205046         False          False  False   False    False      False
205049         False          False  False   False    False      False
205050         False          False  False   False    False      False
205051         False          False  False   False    False      False

[170677 rows x 6 columns]

In [13]:
data.isnull().sum()

product_name         0
product_price        0
Rate                 0
Review           16202
Summary             10
Sentiment            0
dtype: int64

In [14]:
data.notnull()

        product_name  product_price  Rate  Review  Summary  Sentiment
0               True           True  True    True     True       True
1               True           True  True    True     True       True
2               True           True  True    True     True       True
3               True           True  True    True     True       True
4               True           True  True    True     True       True
...              ...            ...   ...     ...      ...        ...
205045          True           True  True    True     True       True
205046          True           True  True    True     True       True
205049          True           True  True    True     True       True
205050          True           True  True    True     True       True
205051          True           True  True    True     True       True

[170677 rows x 6 columns]

In [15]:
data.isnull().sum().sum()

16212

In [16]:
data1= data.fillna(value=3)

In [17]:
data1

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
...,...,...,...,...,...,...
205045,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,terrific,good quality products,positive
205046,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,classy product,beautiful set very nice,positive
205049,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,3,nice,very nice and fast delivery,positive
205050,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,just wow!,awesome product,positive
205051,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,4,value-for-money,very good but mixing bowl not included is one ...,neutral

In [19]:
data1.isnull().sum().sum()

0

In [20]:
data2 = data.fillna(method = "pad")

C:\Users\Asus\AppData\Local\Temp\ipykernel_28112\289779391.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2 = data.fillna(method = "pad")

In [21]:
data2

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
...,...,...,...,...,...,...
205045,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,terrific,good quality products,positive
205046,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,classy product,beautiful set very nice,positive
205049,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,3,nice,very nice and fast delivery,positive
205050,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,just wow!,awesome product,positive
205051,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,4,value-for-money,very good but mixing bowl not included is one ...,neutral

In [24]:
data3= data.fillna(method = "bfill")

C:\Users\Asus\AppData\Local\Temp\ipykernel_28112\1755971053.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3= data.fillna(method = "bfill")

In [25]:
data3

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
...,...,...,...,...,...,...
205045,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,terrific,good quality products,positive
205046,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,classy product,beautiful set very nice,positive
205049,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,3,nice,very nice and fast delivery,positive
205050,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,just wow!,awesome product,positive
205051,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,4,value-for-money,very good but mixing bowl not included is one ...,neutral

In [27]:
import numpy as np

In [29]:
from scipy import stats

In [30]:
data1.columns

Index(['product_name', 'product_price', 'Rate', 'Review', 'Summary',
       'Sentiment'],
      dtype='object')

In [34]:
data1.drop(["product_name"], axis=1, inplace = True)
data1.drop(["Review"], axis=1, inplace = True)
data1.drop(["Sentiment"], axis=1, inplace = True)
data1.columns

Index(['product_price', 'Rate'], dtype='object')

In [36]:
data2.describe()

,product_name,product_price,Rate,Review,Summary,Sentiment
count,170677,170677,170677,170677,170677,170677
unique,958,525,8,1324,92923,3
top,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,waste of money!,good,positive
freq,4362,6859,96661,14807,7089,134701